# Supabase configuration file
[project]
name = "sirr"

[api]
enabled = true
port = 54321

[db]
port = 54322

[studio]
enabled = true
port = 54323

[functions]
delete-expired-messages = "./functions/delete-expired-messages"
